{% extends "base.html" %}
{% block content %}
<h1>{{ category_name }}</h1>
<div class="row">
  {% for product in products %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="{{ url_for('static', filename=product.image_path) }}" class="card-img-top" alt="{{ product.product_name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.product_name }}</h5>
          <p class="card-text">Price: ${{ product.sale_price }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}